# Build and Codelite artifacts
Debug/
Release/
.codelite/
*.workspace
*.project

# Temporary files
*.tmp
*.bak
*.swp

# Other files
*.txt
*.json
*.db
*.mk
.clangd
.clang-format


#But not Cmake
!CMakeLists.txt
